.q0-9 { background-color :rgb(247,252,245); }
.q1-9 { background-color :rgb(229,245,224); }
.q2-9 { background-color :rgb(199,233,192); }
.q3-9 { background-color :rgb(161,217,155); }
.q4-9 { background-color :rgb(116,196,118); }
.q5-9 { background-color :rgb(65,171,93); }
.q6-9 { background-color :rgb(35,139,69); }
.q7-9 { background-color :rgb(0,109,44); }
.q8-9 { background-color :rgb(0,68,27); }
